<p id="notice"><%= notice %></p>
<div style="overflow: auto; width: 1250px; height: 400px; border:solid 1px; position:absolute; left: 10px; top: 130px">
  <table border="2" width="30%" class="tabela" style="width:800px">
    <thead>
    </thead>
    <tbody>
      <th> Vacinas </th>
      <th> Dose </th>
      <th> Idade </th>
      <th> Proteção contra </th>
      <th>Via de administacão</th>
      <% @vacinacao.each do |vacina|%>
      <tr>
        <td><%= vacina["vacina"] %></td>
        <td><%= vacina["dose"] %></td>
        <td><%= vacina["idade"] %></td>
        <td><%= vacina["doenca_protecao"] %></td>
        <td><%= vacina["via_administracao"] %></td>
      </tr>
      <%end%>
   </tbody>
 </table>
</div>

<br>

<!--   <%= link_to 'New Vacina', new_vacina_path %>   -->
