<section class="c-contain">
<section class="c-centered">
<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="styled-input">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :usuario_cpf %>
    <span></span>
  </div>

  <div class="styled-input">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :usuario_nome %>
    <span></span>
  </div>

  <div class="styled-input">
    <%= form.label :email %>
    <%= form.text_field :email, id: :usuario_email %>
    <span></span> 

  </div>

  <div class="styled-input">
    <%= form.label :senha %>
    <%= form.text_field :senha, id: :usuario_senha %>
    <span></span>
  </div>
  <div>
    <button><%= form.submit 'Cadastrar', :class => 'remove-submit-btn-style' %></button>
    <button><%= link_to 'Voltar', usuarios_path %></button>
  </div>

<% end %>
    </section>
  </section>
